.container_about{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50%;
    width: 100%;
    background-color: #da582f;
    border-top: 2px solid black;
}

.about{
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #bc4a28;
    margin-left: 35%;
    border-radius: 14%;
    padding-right: 10px;
}

.title-about{
    font-size: 1.4em;
}

.img_pizzaiolo{
    width: 300px;
    border-radius: 50px;
}

.img_flag{
    width: 300px;
    position: absolute;
    padding-top: 50px;
}

.img_flag2{
    width: 300px;
    position: absolute;
    padding-top: 50px;
    margin-left: 80%;
}

.content_about{
    width: 300px;
    font-family: var(--font-noto-sans);
    color: var(--cor-branca);
    font-size: 1.2em;
}

.title-about{
    padding-bottom: 20px;
}
