.cards{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 96px;
}
.img_pizza {
    width: 150px;
    height: auto;
}
@media (max-width: 600px){
    .cards {
        flex-direction: column;
    }
}