
footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: #1c1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.local-text{
    color: var(--cor-branca);
    font-family: var(--font-noto-sans);
}

.zap_image{
    width: 90px;
    padding-left: 50%;
}

@media (max-width: 600px){
    footer{
        margin-top: 50px;
    }
    .local-text{
        font-size: 10px;
        margin-left: 10px;
    }
    .zap_image{
        width: 50px;
        margin-right: 10px;
    }

}